body{
    background-image: url("../images/background.jpg");
    background-size: cover; /* Ensures the image covers the entire screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;  /* Prevents tiling */
    height: 100vh;  /* Ensures full viewport height */
    margin: 0;
    /* font-family: Arial, sans-serif;
    color: white; Adjust text color for visibility */
}

#nav-container{
    display: flex;
    justify-content: center;
}

.nav-item{
    display: inline-flex;    
}

.nav-item a{
    margin-left: 20px;
    text-decoration: none;
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
}

#main-container{
    display: flex;
    justify-content: space-evenly;
}

.bio-part{
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;     
}

#profile-img{
    height: 250px;
    width: 250px;
}

#projects-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 920px;
    height: 600px;
}

.card-body {
    display: inline;
    border: 1px solid black;
    width: 30%;
    height: 35%;
    margin: 10px 10px 10px 10px;
 }
 
 .img-container > a img{
    height: 100%;
    width: 100%;
 }

 .form-container{
    display: block;
    margin: 0 auto;    
 }

 table{
    border-collapse: collapse;
    width: 50%;
    text-align: center;
 }

 td {
    border: 1px solid rgb(171, 29, 116);
 }

 p::before {
    color: red;
  }

 td a:link{
    color: red;
 }

 td a:visited{
    color: green;
 }

 a:hover, td a:hover{
    color: hotpink;
 }

 a:active{
    color: blue;
 }

 #form-container{
    margin-top: 10%;
    margin-left: 35%;
    
 }

 #form-container > fieldset{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 25%;

 }

 ul{
   display: flex;
   justify-content: center;   
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;   
 }

 li{   
   float:left;
   border-right: 1px solid white;
 }

li:last-child{
   border-right: none;
}

li a {
   display: block;
   text-decoration: none;
   padding: 14px 16px;
   text-align: center;
   color: rgb(171, 29, 116);
   font-family: "Dancing Script", serif;
   font-optical-sizing: auto;
   font-weight: 300;
   font-style: normal;
   font-size: 30px;
}

 li a:hover:not(.active){
   background-color: white;
 }
  
.active{
   background-color: white;
}
 /* .img-container img {
    max-width: 100%;
    height: auto;
 }
 
 .card-body p, .card-body h1 {
    margin: 8px;
 }
  */