body{
    background-image: url("../images/background.jpg");
    background-size: cover; /* Ensures the image covers the entire screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;  /* Prevents tiling */
    height: 100vh;  /* Ensures full viewport height */
    margin: 0;
    /* font-family: Arial, sans-serif;
    color: white; Adjust text color for visibility */
}

#nav-container{
    display: flex;
    justify-content: center;
}

.nav-item{
    display: inline-flex;    
}

.nav-item a{
    margin-left: 20px;
    text-decoration: none;
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
}

#main-container{
    display: flex;
    justify-content: space-evenly;
}

.bio-part{
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;        
}

#profile-img{
    height: 250px;
    width: 250px;
}

#projects-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 920px;
    height: 600px;
}

.card-body {
    display: inline;
    border: 1px solid black;
    width: 30%;
    height: 35%;
    margin: 10px 10px 10px 10px;
 }
 
 .img-container > img{
    height: 100%;
    width: 100%;
 }

 .form-container{
    display: block;
    margin: 0 auto;    
 }

 /* .img-container img {
    max-width: 100%;
    height: auto;
 }
 
 .card-body p, .card-body h1 {
    margin: 8px;
 }
  */